/* 
    Document   : style
    Author     : ragersakad
    Description: Colors fonts and tweeking
*/

.center{
    text-align: center;
}

/* Bootstrap modal fix */
body.modal-open{
    margin-right: 0px;
}

/* Error,loading and success labels in forms */
.error-label, .success-label, .loading-label, .warning-label{
    display: none;
}

.has-error .error-label, .has-loading .loading-label, .has-success .success-label, .has-warning .warning-label{
    display: inline-block;
}

.hidden{
    display: none;
}

.no-padding{
    padding: 0;
}

.glow{
    border-color: rgb(102, 175, 233);
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}

.glowable{
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}





/* Spining icons */

.icon-spin {
    -webkit-animation: spin 2s infinite linear;
    animation: 2s linear 0s normal none infinite spin;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(359deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(359deg);}
}
