/* 
    Document   : style
    Author     : ragersakad
    Description: Colors fonts and tweeking
*/

#tree-graph{
    position: relative;
    overflow: hidden;
}

#main{
    position: relative;
    height: 460px;
    max-height: 460px;
    overflow: scroll;
}
#graph-canvas{
    position: absolute;
    max-height: 2000px;
    
}
     


#canvas{
    height: 1000px;
    width: 1000px;

}
#plus-button{
    position: absolute;
    bottom: 5px;
    left:  49%;
    
}

#new-node{
    position: absolute;
    bottom: -40px;
    left:  45%;
}



/* node css */

.node-contents {
    padding: 5px;
    width: 200px;
    height: 80px;
    position: absolute;
    border: 1px solid gray;
    border-radius: 5px;
    background: white;
    cursor: default;
}

.node-contents> h1 {
    margin: 0;
    font-size: 100%;
}

.node-contents> h2 {
    margin: 5px;
    font-size: 80%;
}

.gender, .connect-link, .delete-link {
    font-size: 80%;
    position: absolute;
    bottom: 5px;
}

.gender {
    left: 5px;
}

.connect-link {
    right: 50px;
    cursor: pointer;
}

.delete-link {
    right: 5px;
    cursor: pointer;
}

